@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to left, #79CB0A, #B5D020);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  margin: 30px 0;
  text-align: center;
}
header h2 {
  text-transform: uppercase;
  margin: 0;
}
header p {
  font-size: 1em;
}
header a {
  text-decoration: none;
  border-bottom: 2px dotted #FF8700;
  color: inherit;
}

.signup {
  width: 700px;
  height: 460px;
  position: relative;
  overflow: hidden;
  box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 5px;
}

.signup:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scaleX(-1);
  z-index: -1;
  background: url(https://source.unsplash.com/Qmox1MkYDnY/900x500) no-repeat;
}

form {
  width: 50%;
  height: 80%;
  padding: 20px 50px 20px 20px;
}

form .form-group {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
  color: #8F949B;
  font-size: 0.9em;
}
form .form-group label {
  margin: 0 0 16px 0;
}
form .form-group span {
  font-size: 0.8em;
  color: #FF3400;
}
form .form-group span#characters {
  font-size: 0.8em;
  color: #8F949B;
}

.form-group input[type=text],
.form-group input[type=password] {
  border: none;
  outline: none;
  background: transparent;
  padding: 0 0 10px 0;
  font-size: 1em;
  border-bottom: 1px dotted #8F949B;
}

.form-group input[type=password] {
  color: #FF3400;
}

form .form-group:last-child {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 0 0;
}
form .form-group:last-child button {
  border: none;
  background: linear-gradient(to left, #FF8700, #FFB100);
  padding: 10px 30px;
  border-radius: 20px;
  color: #FFFFFF;
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}
form .form-group:last-child button.active {
  opacity: 0.5;
  cursor: default;
}
form .form-group:last-child a {
  color: #8F949B;
  text-decoration: dotted;
  font-size: 0.8em;
}

.results, .terms {
  width: 50%;
  height: 80%;
  padding: 20px 50px 20px 20px;
}

.fade-enter-active, .fade-leave-active {
  transition: all 0.8s;
}

.fade-enter, .fade-leave-active {
  opacity: 0;
  transform: translateX(-40px);
}