*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: var(--smooth);
}
/* Tao overlay */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .4);
    z-index: 4;
    display: none;
}

#overlay.show {
    display: initial;
}

#overlay-search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .4);
    z-index: 10;
    display: none;
}
#overlay-search.show-search {
    display: initial;
}
/* ket thuc tao overlay */

header {
    /* position: absolute; */
    width: 100%;
}

body {
    font-family: "Roboto", sans-serif;
}

:root {
    --light-green: #66CC99;
    --light-blue: #387bf8;
    --white: #fff;
    --orange: #FF9933;
    --light-gray: #7a7b84;
    --smooth: all .3s ease-in;
}

img {
    max-width: 100%;
    width: 100%;
}

.navbar-brand img {
    width: 150px;
    object-fit: cover;
}
/* Xu ly nut tim kiem tren mobile */
.btn-search {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
}

.input-group {
    justify-content: end;
    align-items: end;
}

.input-group input{
    display: none;
}

.search-btn{
    background-color: transparent;
    color: #387bf8;
    border: none;
    height: 18px;
}

.search-btn:hover {
    background-color: transparent;
    color: var(--orange);
    transition: var(--smooth);
    border: none;
}

.cancle-btn .search-btn {
    position: fixed;
    top: 16px;
    right: 40%;
    cursor: pointer;
    transform: translateX(-50px);
    background: transparent;
}
/* Ket thuc thanh search */

/* xu ly thanh search xo ra khi bam icon search */
.input-group-collap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50%;
    background-color: var(--light-green);
    z-index: 8;
    transition: var(--smooth);
    transform: translateY(-100%);
    opacity: 0;
}

.input-group-collap.search-open {
    transform: translateY(0);
    opacity: 1;
    transition: var(--smooth);
}

.collap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25%;
}

.collap input {
   border-top-left-radius: 3px;
   border-bottom-left-radius: 3px;
   border-color: var(--light-green);
   border: 1rem;
   height: 35px;
   padding: 0 8px;
}

.collap button {
    display: inline-block;
    /* font-weight: 400; */
    /* line-height: 1.5; */
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 0 16px;
    margin: -8px;
    font-size: 1rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: var(--light-blue);
    border: 1rem;
    height: 40px;
}
.collap button i {
    color: var(--white);
}

.close-btn {
    color: var(--light-gray);
    font-size: 25px;
    display: flex;
    justify-content: end;
    padding: 4px 12px;
    cursor: pointer;
}
/* ket thuc xu ly */
.icons a:hover {
    color: var(--orange);
    transition: var(--smooth);
}

.icons a {
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--light-blue);
    font-weight: 400;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--orange);
    transition: var(--smooth);
}

/* Xu ly navbar thu gon */
.navbar-links {
    position: fixed; /*menu nam o 1 vi tri co dinh*/
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background-color: var(--light-green);
    z-index: 5;
    transition: var(--smooth);
    transform: translateX(-100%);
    opacity: 0;
}

/* chuyen doi ten class de thuc hien thao tac voi nut gom menu */
.navbar-links.navbar-open {
    transform: translateX(0);
    opacity: 1;
    transition: var(--smooth);
}

.nav-link {
    margin: 20px;
}

/* tao nut gom menu */
.navbar-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 24px;
    cursor: pointer;
    transition: var(--smooth);
    z-index: 6;
}

.navbar-icon {
    width: 25px;
    height: 4px;
    background-color: var(--light-gray);
    border-radius: 5px;
    transition: var(--smooth);
    position: relative;
}

.navbar-icon:before,
.navbar-icon:after {
    content: "";
    position: absolute;
    width: 25px;
    height: 4px;
    background-color: var(--light-gray);
    border-radius: 5px;
    transition: var(--smooth);
}

.navbar-icon:before {
    transform: translateY(-12px);
}

.navbar-icon:after {
    transform: translateY(12px);
}
/* ket thuc tao nut */

/* tao chuyen dong dong menu */

.icon-back .navbar-icon{
    position: fixed;
    top: 16px;
    right: 40%;
    cursor: pointer;
    transform: translateX(-50px);
    background: transparent;
}

.icon-back .navbar-icon::before{
    transform: rotate(45deg) translate(35px, -35px);
}

.icon-back .navbar-icon::after{
    transform: rotate(-45deg) translate(35px, 35px);
}

/* Slide chuyen dong */
.carousel-inner {
    /* display: flex; */
    /* justify-content: center; */
    /* width: 50%; */
    /* margin: 0 120px; */
}

@media (min-width: 62em) {
    .navbar-init {
        background-color: var(--light-green);
    }
    .navbar-links {
        position:initial;
        transform: translateX(0);
        opacity: 1;
        width: 100%;
        height: 32px;
        justify-content: center;
        align-items: center;
    }
    .navbar-icons {
        display: none;
    }
    .input-group input{
        display: block;
    }
    .input-group button{
        background-color: var(--light-blue);
        color: var(--white);
        border: initial;
        height: 38px;
    }
    .input-group {
        justify-content: left;
        align-items: left;
    }
    .input-group button:hover {
        background-color: var(--orange);
        color: var(--white);
    }
    .icons {
        padding-left: 16px;
        font-size: 22px;
    }

    .input-group-collap.search-open {
        transform: translateY(0);
        opacity: 0;
    }
    #overlay-search.show-search {
        display: none;
    }
}